/* spacing */

.columns {
  display: flex;
  justify-content: space-around;
}

/* table formatting */

table {
  border-collapse: collapse;
}

table td,
table th {
  padding: 0.25rem 0.25rem 0.25rem;
}

.truth-table table td,
.truth-table table th {
  text-align: center;
  border: 0 solid #ccc;
  border-bottom-width: 1px;
}

.truth-table table tr:last-child td,
.table table tr:last-child th {
  border-bottom-width: 0;
}

.kmap table td,
.kmap table th {
  border-width: 0;
  vertical-align: middle;
  text-align: center;
}

.kmap table td.empty {
  border-width: 0;
}

/* output colouring */

.true {
  cursor: pointer;
  background-color: #c8e6c9;
}

.false {
  cursor: pointer;
  background-color: #ffcdd2;
}
